<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('./partials/head')%>
		<title>Spoor</title>
		<style>
			.container {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 8rem;
			}
		</style>

</head>

<body class="body">
	<%- include('./partials/nav')%>
		<div class="container">

			<div class="task">
				<div class="todo-item" id="<%=task._id%>">
					<div class="todo-title">
						<%=task.title%>
					</div>
					<div class="todo-description">
						<%=task.body%>
					</div>
					<div class="todo-completed">
						<input class="form-check-input" type="checkbox" id="completed" data-task-id="<%=task._id%>"
							<%=task.isCompleted ? 'checked' : '' %>>
						<label for="completed">Task Completed</label>
					</div>
					<i class="bi bi-trash"></i>
					<button class="delete-button" id="<%=task._id%>">Delete Task</button>
				</div>
			</div>

		</div>
		<%- include('./partials/script')%>
</body>

</html>